<!DOCTYPE html>
<html ng-app="WhosGotNext">
  <head>
    <meta charset="utf-8">
    <title>Whos Got Next!?</title>
    <link href='https://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOXpw2OaY7C4U_cKnPGTqQ4NhjWml_2eI"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-cookies.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>


  <container ng-controller="UsersController">
    <div id = "banner">
      <h1 id = "title"> Who's Got Next!? </h1>
      <a ng-click="logout()" class="btn btn-danger" ng-show="loggedIn">Logout</a>
    </div>

  <div id = "user-forms" ng-hide="loggedIn" ng-show="loggedOut">
    <h1>Sign Up</h1>
    <form ng-submit="createUser()">
      <input type="username" name="name" ng-model="newUser.username" value="" placeholder="Username">
      <input type="password" name="name" ng-model="newUser.password" value="" placeholder = "password" >
      <input type="number" name="name" ng-model="newUser.skill_level" value="" placeholder = "Skill Level">
      <input type="submit" name="name" value="Sign Up">
    </form>

    <h1>Login</h1>
    <form ng-submit="loginUser()">
      <input type="text" name="name" placeholder = "username" ng-model="user.username">
      <input type="password" name="name"  placeholder="password" ng-model="user.password">
      <input type="submit" name="name" value="Login">
    </form>
  </div>


    <div ng-show="loggedIn" class = "container" ng-hide="loggedOut">
      <div ng-controller="CourtsController">
        <div ng-controller="GamesController">

        <div id = "create-games-div" ng-view>
        </div>

        <div id = "map">
        </div>


        </div>
      </div>
    </div>
  </container>


  </body>
</html>
