<!DOCTYPE html>
<html ng-app="WhosGotNext">
  <head>
    <meta charset="utf-8">
    <title>Whos Got Next!?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=" + process.env.MAPS_API></script>
    <script src="/js/markerclusterer.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-cookies.min.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>


  <container ng-controller="UsersController">
    <div id = "banner">
      <h1 id = "title"> Who's Got Next!? </h1>
    </div>

  <div id = "user-forms" ng-hide="loggedIn" ng-show="loggedOut">
    <h1 id = "game-title" ng-hide="signedup">Sign Up</h1>
    <form ng-submit="createUser()" ng-hide="signedup" class = "form-horizontal" id = "signup">
      <div class="form-group">
        <input type="username" name="name" ng-model="newUser.username" value="" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input type="password" name="name" ng-model="newUser.password" value="" placeholder = "Password" required>
      </div>
      <div class="form-group">
        <input type="number" name="name" ng-model="newUser.skill_level" value="" placeholder = "Skill Level 1-10" min=1 max =10>
      </div>
      <div class="form-group">
        <input type="submit" name="name" value="Sign Up" class = "btn btn-primary">
      </div>
    </form>
    <button ng-click="signedup = true" class = "btn btn-primary btn-sm" ng-hide="signedup"> Already User?</button>

    <h1 id = "game-title" ng-show="signedup">Login</h1>
    <form ng-submit="loginUser()" ng-show="signedup" class="form-horizontal" id = "signup">
      <div class="form-group">
        <input type="text" name="name" placeholder = "Username" ng-model="user.username">
      </div>
      <div class="form-group">
        <input type="Password" name="name"  placeholder="Password" ng-model="user.password">
      </div>
      <input type="submit" name="name" value="Login" class = "btn btn-primary">
    </form>
    <button ng-click="signedup=false" class = "btn btn-primary btn-sm" ng-show="signedup"> Not a User?</button>
  </div>


    <div ng-show="loggedIn" class = "container" ng-hide="loggedOut">
      <div ng-controller="CourtsController">
        <div ng-controller="GamesController">

        <div id = "create-games-div" ng-view>
        </div>

        <div id = "map">
        </div>


        </div>
      </div>
    </div>
  </container>


  </body>
</html>
