<a ng-href = "#/" class = "nav-links">Create a Game</a> <a ng-href='#/courts' class = "nav-links">View Courts</a><a ng-href='#/yourgames' class = "nav-links">Your Games</a> <a ng-href="#/today" class = "nav-links">Today's Games</a> </br>
<input ng-model="search.$" name="name" value="" placeholder="Search for Games">
</div>
  <div ng-repeat ="game in games | orderBy: ['date', 'time'] | filter:search">
    <h4> There is a game on {{game.date | date}} at {{game.time | date: 'shortTime'}} at {{game.court_name}} </h4>
    <button ng-click="joinGame(game._id); addGameToUser(game._id)" class = "btn btn-primary">Join this game</button>
  </div>
