<a ng-href = "#/" class = "nav-links">Create a Game</a> <a ng-href='#/games' class = "nav-links">All Games</a><a ng-href='#/courts' class = "nav-links">View Courts</a><a ng-href="#/today" class = "nav-links">Today's Games</a>
<h1> Games you are attending: </h1>
<div ng-repeat="game in allYourGames track by $index">
  <h4>You have a game at {{game.court_name}} on {{game.date | date: 'fullDate'}} at {{game.time | date: 'shortTime'}}</h4>
  <a ng-click="leaveGame(game.id); removeGameFromUser()" class = "btn btn-danger">Leave Game</a>
  <hr>
</div>
